---
- name: Assign Floating IP for "{{ item.vm_name }}"
  nutanix.ncp.ntnx_floating_ips:
    state: present
    external_subnet:
      name: Ext-Nat
    vm:
      name: "{{ item.vm_name }}"
  register: fip
- ansible.builtin.debug:
    msg:
      - "VM name: {{ item.vm_name }}"
      - "uuid: {{ fip.fip_uuid }}"
