pip>=23.0
setuptools>=65.0
ansible-core>=2.16.0
requests>=2.31.0
ntnx-clustermgmt-py-client==4.2.2
ntnx-iam-py-client==4.1.2b2
ntnx-microseg-py-client==4.2.2
ntnx-networking-py-client==4.3.1
ntnx-prism-py-client==4.3.1
ntnx-vmm-py-client==4.2.2
ntnx-volumes-py-client==4.2.2
ntnx-dataprotection-py-client==4.3.1
ntnx-datapolicies-py-client==4.2.2
ntnx-lifecycle-py-client==4.2.2
ntnx-objects-py-client==4.0.3
ntnx-security-py-client==4.1.2
ntnx-licensing-py-client==4.3.2
