---
- name: Create static route
  nutanix.ncp.ntnx_static_routes:
    state: present
    vpc_uuid: "{{ item.vpc_uuid }}"
    static_routes:
      - destination: "{{ item.destination }}"
        next_hop:
          external_subnet_ref:
            name: "{{ item.subnet_name }}"
  register: static_route
- ansible.builtin.debug:
    msg:
      - "uuid: {{ static_route.response.metadata.uuid }}"
