---
name: ansible-lint
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
on:
  - pull_request

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install Ansible and ansible-lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible-core ansible-lint
      - name: Run ansible-lint
        run: |
          ansible-lint
